# Database
DB_HOST=sgbd
DB_ROOT_PASSWORD=rootroot
DB_NAME=daynotesDB
DB_PORT=3306
DB_USER=user
DB_PASSWORD=password

# Apache
DOMAIN=localhost
PORT_HTTP=80
PORT_HTTPS=443
PORT_SOCKET=6001
PORT_LARAVEL_LISTENER=8001

UID=1000

# Timezone
TZ=Europe/Paris